body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
section {
    margin: 16px;
    padding: 16px;
}

.example {
    width: 200px;
    height: 200px;
    background: steelblue;
    color: aliceblue;
    display: grid;
    place-items: center;
}

.parent {
    background: lightgreen;
    width: 200px;
    height: 200px;
}

.child {
    background: lightcoral;
    width: 50%;
    height: 50%;
}

.example2 {
    width: 200px;
    height: 200px;
    background: lightpink;
    display: grid;
    place-items: center;
   
}

.example3 {
    width: 50%;
    height: 50%;
    background: lightgreen;

}
.panel {
    background: lightgray;
    width: 200px;
    height: 200px;
    display: grid;
    place-items: center;
    border-width: 10px;/* tlou코콘ka */
    border-style: solid;
    border-color: gray;
    margin-bottom: 16px;
}

.mix {
    background: lightgray;
    width: 200px;
    height: 200px;
    display: grid;
    place-items: center;
    border-width: 10px;/* tlou코콘ka */
    border-color: gray;
    border-left-style: dashed;
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: double;
    border-right-color: brown;
     margin-bottom: 16px;
}
.card {
    background: lightgray;
    width: 200px;
    height: 200px;
    display: grid;
    place-items: center;
    border: 5px solid brown;
}

.box {
    background: lightgreen;
    height: 50px;
    width: 50px;
    padding: 50px;
    margin: 20px auto;
    display: grid;
    place-items: center;
}

.demo {
    background: lightpink;
    height: 50px;
    width: 200px;
    padding: 50px;
    padding-top: 100px;
    padding-right: 90px;
    padding-bottom: 50px;
    padding-left: 120px;
    margin: 20px auto;
    border: 10px solid black;
    display: grid;
    place-items: center;
    box-sizing: content-box;
}
