body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
section {
    margin: 16px;
    padding: 16px;
}
.example-1 {
    background: steelblue;
    width: 400px;
    height: 400px;
    color: white;
    display: grid;
    place-items:center;
}
.parent {
    background: pink;
    width: 200px;
    height: 200px;
    display: grid;
    place-items: center;


}
.child {
background: green;
width: 50%;
height: 50%;
place-content: center;


}