body {
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;

}
p {
    color: green;
    font-size: 18px;
}

h1, h2 {
    color: blue;
    text-align: center;
}
div {
    background-color: aliceblue;
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
}
.info {
    color: blue;
    background-color: lightblue;
 
}
.warning {
    color: red;
    background-color: lightcoral;
}
p:last-child {
    color: purple;
}