h2 {
    background: blue;
}
div {
    background-color: blue;
}
p {
    background: blue;
}
ul {
    background: blue;
}

a, button, strong {
    background: red;
}

.d1 {
    display: block;
    border: 2px solid black;
    background: rgb(146, 146, 188);
    width: 50%;
}
.b1 {
    display: inline-block;
    background: green;
    width: 280px;
    height: 80px;

}
.radius-box {
    height: 200px;
    width: 200px;
    background:green;
    border: 6px solid rgb(61, 177, 76);
    border-radius: 15px;
    display: grid;
    place-items: center;
}

